<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}" property="og:description">
<meta property="og:title" content="{% if page.layout == "home" %}主页 | {{ site.title | escape }}{% elsif page.title %}{{ page.title | escape }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html', '' | absolute_url }}">
<link rel="canonical" href="{{ page.url | replace:'index.html', '' | absolute_url }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
{% if page.layout == "post" or page.layout == "page" %}
<meta property="og:type" content="article">
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{ page.image | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
{% endif %}
