<ul class="horizontal-list">
  {% if post.categories %}
    <li><svg class="icon" viewBox="0 0 576 512"><title>分类</title><use xlink:href="{{ '/assets/icons/sprites.svg' | relative_url }}#folder"></use></svg><span class="meta-content">{% for category in post.categories %}<a href="{{ site.baseurl }}category/{{ category | slugify }}/">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span></li>
  {% endif %}
  {% if post.last_modified_at %}
    <li><svg class="icon" viewBox="0 0 512 512"><title>更改日期</title><use xlink:href="{{ '/assets/icons/sprites.svg' | relative_url }}#history"></use></svg><time class="meta-content" datetime="{{ post.last_modified_at | date_to_xmlschema }}" title="{{ post.last_modified_at | date: "%F %R" }}">{{ post.last_modified_at | date: "%F" }}</time></li>
  {% endif %}
</ul>
